<div class="timeline">
  <em class="start-icon icon-Circle-00"></em>
  <div class="events">
    <ul>
      <li *ngFor="let item of _items">
        <a
          class="icon"
          [matTooltip]="item.tooltip"
          [style.left.%]="item.left"
          aria-hidden="true"
          (click)="emitSelectedItem(item)"
        >
          <em class="{{ item.icon }}"></em>
        </a>
      </li>
      <li *ngIf="_items.length > 10" class="more-icon">
        <em
          matTooltip="more-item"
          class="icon-Right-03"
          aria-hidden="true"
          (click)="fetchMore.emit()"
        ></em>
      </li>
    </ul>
  </div>
  <div class="last-dummy-line"></div>
  <em [matTooltip]="_videoDurationToolTip" class="end-icon icon-Circle-Dot-00"></em>
</div>
