<!-- <lib-card [headerTitle]="'LOGIN_CONSTRAINT_MENU' | translator" headerIcon="icon-Sign-in-00">
  <header libCardHeader>
    <div class="edit-icon">
      <em class="icon-Write-00 edit-mode" (click)="editModal()"></em>
    </div>
  </header>
  <div class="row" libScrollableElement [topOffset]="50">
    <lib-loading-icon class="d-block text-center" *ngIf="isLoading.list"></lib-loading-icon>
    <div class="col-md-12 h-100">
      <lib-key-value-list
        *ngIf="!isLoading.list"
        [row]="loginConstraint"
        [listOfKeys]="listOfItem"
      ></lib-key-value-list>
    </div>
  </div>
</lib-card>
<ng-template #optSendMedia let-value="value">
  <span
    [ngClass]="value === 'email' ? 'icon-Mail-00' : 'icon-Chat-01'"
    class="otp-type-icon"
  ></span>
</ng-template>
<ng-template #modal>
  <lib-modal
    [headerTitle]="'EditLoginConstraintSetting' | translator"
    [defaultFooter]="true"
    [submitLoading]="isLoading.edit"
    (submitModal)="submitForm()"
  >
    <lib-error-alert
      [errorKey]="listErrorLocation"
      [locationDisplay]="'ErrorInSavingLoginConstraintSetting' | translator"
    ></lib-error-alert>
    <app-login-constraint-edit [(editItems)]="loginConstraintFromData"></app-login-constraint-edit>
  </lib-modal>
</ng-template> -->
