<mat-card class="page-container">
  <mat-card-title>{{ 'pages.setting.certificate.title' | translate }}</mat-card-title>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="d-flex gap-4 align-items-center">
            <h3 class="custom-tab-title m-0">
              {{ 'pages.setting.certificate.ca' | translate }}
            </h3>
            <mat-icon
              class="custom-tab-description"
              [matTooltip]="'pages.setting.certificate.ca-description' | translate"
            >
              info
            </mat-icon>
          </div>
        </ng-template>
        <ng-template matTabContent>
          <app-ca-cert />
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="d-flex gap-4 align-items-center">
            <h3 class="m-0">
              {{ 'pages.setting.certificate.self-signed' | translate }}
            </h3>
            <mat-icon
              class="custom-tab-description"
              [matTooltip]="'pages.setting.certificate.self-signed-description' | translate"
            >
              info
            </mat-icon>
          </div>
        </ng-template>
        <ng-template matTabContent>
          <app-self-signed-cert />
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
