.filter-container {
  min-width: 680px;
  padding: 0;
  margin: 0;
}

.field-ip-address {
  .input-container {
    display: flex;
    align-items: center;
    padding-inline: 0 0.5rem;

    label {
      width: 7rem;
      padding-inline-end: 0.5rem;
    }
  }

  .d-flex {
    flex-direction: column;
  }
}

.label-container {
  margin-bottom: 0.5rem;
  font-weight: 700;

  i {
    padding-inline-end: 1rem;
  }
}

.a-field {
  max-width: 350px;
  height: 240px;
  padding-inline-start: 10px;
}
