<!-- <lib-modal
  [headerTitle]="'Add_EditPassword' | translator"
  [defaultFooter]="true"
  (submitModal)="onSaveModal()"
  [submitLoading]="_isLoading">
  <div *ngFor="let error of _allPossibleErrors | keyvalue">
    <lib-error-alert [errorKey]="error.key" [locationDisplay]="error.value"></lib-error-alert>
  </div>
  <form [formGroup]="_form">
    <lib-form-element-container [label]="'username' | translator" [required]="true">
      <input libTextBox formControlName="username" />
    </lib-form-element-container>
    <lib-form-element-container [label]="'password' | translator" [required]="!_form.value.id">
      <lib-password-input
        id="password"
        class="form-control"
        formControlName="password"
        them="bootstrap"
        [typePassword]="'text'"></lib-password-input>
    </lib-form-element-container>
    <lib-form-element-container [label]="'repeatPassword' | translator" [required]="!_form.value.id">
      <lib-password-input
        class="form-control"
        formControlName="repeatPassword"
        them="bootstrap"
        [typePassword]="'text'"></lib-password-input>
    </lib-form-element-container>
    <lib-form-element-container [label]="'domain' | translator">
      <input libTextBox formControlName="domain" />
    </lib-form-element-container>
    <lib-form-element-container [label]="'identifierKey' | translator">
      <input libTextBox formControlName="identifierKey" />
    </lib-form-element-container>
  </form>
</lib-modal> -->
