<mat-card class="page-container">
  <mat-card-title>{{ 'pages.setting.monitoring.title' | translate }}</mat-card-title>

  <mat-card-content>
    <div class="token-container">
      <mat-form-field class="token-field" appearance="outline">
        <mat-label>{{ 'token' | translate }}</mat-label>
        <textarea matInput readonly [value]="token$ | async"></textarea>
      </mat-form-field>

      <div class="d-flex flex-col gap-4">
        <button mat-flat-button (click)="copyToClipboard()">
          {{ 'pages.setting.monitoring.copyToken' | translate }}
        </button>

        <button mat-flat-button (click)="refreshToken()">
          {{ 'pages.setting.monitoring.refreshToken' | translate }}
        </button>
      </div>
    </div>

    <div class="search-container">
      <mat-form-field class="search-field" appearance="outline">
        <input
          matInput
          [placeholder]="'search' | translate"
          [ngModel]="searchTerm$ | async"
          (ngModelChange)="updateSearch($event)"
        />
      </mat-form-field>

      <div class="count">
        <p>{{ 'totalCount' | translate }}: {{ count$ | async }}</p>
      </div>
    </div>

    <div class="url-list">
      <cdk-virtual-scroll-viewport itemSize="5" class="viewport">
        <div class="url-item" *cdkVirtualFor="let item of filteredRow$ | async">
          <span>{{ item.label }}</span>
          <button mat-icon-button color="primary" (click)="copyToClipboard(item.label)">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </mat-card-content>
</mat-card>
