<!-- <lib-modal
  headerTitle="{{_form.value.id ? ('Edit' | translator) : ('add' | translator)}} {{'password' | translator}}"
  [defaultFooter]="true"
  (submitModal)="onSaveModal()"
  [submitLoading]="_isLoading">
  <div *ngFor="let error of _allPossibleErrors | keyvalue">
    <lib-error-alert [errorKey]="error.key" [locationDisplay]="error.value"></lib-error-alert>
  </div>
  <form [formGroup]="_form">
    <lib-form-element-container [label]="'name' | translator" [required]="true">
      <input libTextBox formControlName="name" />
    </lib-form-element-container>
    <lib-form-element-container [label]="'address' | translator" [required]="true">
      <input libTextBox formControlName="address" dir='ltr' />
    </lib-form-element-container>
    <lib-form-element-container [label]="'token' | translator" [required]="!_form.value.id">
      <input libTextBox formControlName="token" dir='ltr' />
    </lib-form-element-container>
    <lib-form-element-container [label]="'readonly' | translator">
      <lib-switch
        size="md"
        [isCircle]="true"
        class='ml-2'
        formControlName="readonly"
        [color]="_color.Dark"></lib-switch>
    </lib-form-element-container>
    <hr />
    <lib-form-element-container [label]="'ssl' | translator">
      <lib-switch
        size="md"
        class='ml-2'
        [isCircle]="true"
        formControlName="ssl"
        (change)="onSslChange($event)"
        [color]="_color.Dark"></lib-switch>
    </lib-form-element-container>
    <lib-form-element-container [label]="'certificate' | translator" [required]="_form.value.ssl">
      <textarea libTextArea formControlName="certificate"  rows="5" [disabled]="!_form.value.ssl" class="form-control" dir='ltr' ></textarea>
    </lib-form-element-container>
  </form>
</lib-modal> -->
