<!-- <lib-card [headerTitle]="'SYSLOG_SETTING_MENU' | translator" headerIcon="icon-File-01" class="root-container lib-card-reset">
    <div *ngFor="let error of _allPossibleErrors | keyvalue">
      <lib-error-alert [errorKey]="error.key" [locationDisplay]="error.value"></lib-error-alert>
    </div>
    <div class="table-container">
      <lib-material-data-table-client-side
        [dataSource]="_data"
        [gridOption]="_tableOption"
        [loadingIndicator]="_isLoading"
        [columns]="_columns"
        (refreshData)="_getSyslogServerListData()"
        [paginationLabels]="paginationLabels"
        [actionList]="_operationList">
      </lib-material-data-table-client-side>
    </div>
</lib-card> -->
