<!-- <div>
  <div *ngFor="let error of _allPossibleErrors | keyvalue">
    <lib-error-alert [errorKey]="error.key" [locationDisplay]="error.value"></lib-error-alert>
  </div>
  <form [formGroup]="_form" class="customize-modal-content">
    <lib-form-element-container [label]="'oldPassword' | translator" *ngIf="currentUser" [required]="true">
      <lib-password-input formControlName="oldPassword"></lib-password-input>
    </lib-form-element-container>
    <lib-form-element-container
      [label]="'newPassword' | translator"
      [required]="true"
      [acceptedPatternsDescription]="_acceptedPatternsDescription">
      <lib-password-input formControlName="newPassword"></lib-password-input>
    </lib-form-element-container>
    <lib-form-element-container [label]="'repeatNewPassword' | translator" *ngIf="!currentUser" [required]="true">
      <lib-password-input formControlName="newPasswordRepeat"></lib-password-input>
    </lib-form-element-container>
  </form>
  <div class="customize-modal-footer">
    <lib-button outline="true" class="mx-1" tabindex="-1" [color]="_Color.Secondary" (click)="closeForm.emit()">
      <span>{{ 'close' | translator }}</span>
    </lib-button>
    <lib-button class="mx-1" [color]="_Color.Success" type="button" [loading]="_isLoading" (click)="submitForm()">
      <span>{{ 'resetPassword' | translator }}</span>
    </lib-button>
  </div>
</div> -->
