@use '@angular/material' as mat;

@mixin define-theme() {
  html {
    color-scheme: light;

    @include mat.theme(
      (
        color: (
          primary: mat.$azure-palette,
          tertiary: mat.$violet-palette,
        ),
        typography: (
          plain-family: 'Roboto',
          bold-weight: 900,
          medium-weight: 500,
          regular-weight: 300,
        ),
        density: 0,
      )
    );
  }

  html[dir='rtl'] > * {
    @include mat.theme(
      (
        typography: (
          plain-family: 'iranyekan',
          // Default LTR font
          bold-weight: 900,
          medium-weight: 500,
          regular-weight: 300,
        ),
      )
    );
  }

  .theme-dark {
    color-scheme: dark;
  }
}
