<breadcrumb />

<mat-card>
  @if (isLoading$ | async) {
    <mat-progress-bar mode="indeterminate" />
  }
  <form [formGroup]="form" class="card-body w-75 m-auto" (ngSubmit)="submitChanges()">
    <div #inputBox class="box m-8">
      <input disabled class="code" tabindex="1" maxlength="4" />
      <input disabled class="code" tabindex="2" maxlength="4" />
      <input disabled class="code" tabindex="3" maxlength="4" />
      <input disabled class="code" tabindex="4" maxlength="4" />
      <input disabled class="code" tabindex="5" maxlength="4" />
      <button mat-icon-button (click)="copyToClipboard()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{ 'pages.wina_setting.license.application_id' | translate }}</mat-label>
      <textarea matInput dir="ltr" style="min-height: 4rem" formControlName="machineId"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>
        <strong>{{ 'pages.wina_setting.license.code' | translate }}</strong>
        <mat-icon [matTooltip]="'pages.wina_setting.license.code_help' | translate">
          help_outline
        </mat-icon>
      </mat-label>

      <textarea
        matInput
        style="min-height: 16rem"
        dir="ltr"
        formControlName="licenseText"
      ></textarea>
    </mat-form-field>

    <mat-label>{{ 'pages.wina_setting.license.file' | translate }}</mat-label>
    <file-upload formControlName="licenseFile" (fileChange)="onUploadFile($event)" />

    <button
      mat-flat-button
      class="m-16 align-self-start"
      type="submit"
      [disabled]="submitLoading$ | async"
    >
      {{ 'submit' | translate }}

      @if (submitLoading$ | async) {
        <mat-icon>
          <mat-spinner color="white" diameter="20" />
        </mat-icon>
      }
    </button>
  </form>
</mat-card>
