.list-group-item {
  border-right: none;
  border-left: none;

  &.bottom-border {
    border-bottom: none;
  }
}

:host-context(.rtl) {
  .edit-icon {
    right: unset;
    left: 2.71rem;
  }
}

.edit-icon {
  position: absolute;
  top: 1.57rem;
  right: 2.71rem;
}
