<h3 mat-dialog-title>
  {{
    form.value.id
      ? ('pages.setting.password.edit_personal' | translate)
      : ('pages.setting.password.add_personal' | translate)
  }}
</h3>

<form mat-dialog-content class="d-flex flex-col p-16 gap-32" [formGroup]="form">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ 'username' | translate }}</mat-label>
    <input matInput formControlName="username" required />
    <mat-error *ngIf="form.controls.username.hasError('required')">
      {{ 'validation.required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ 'password' | translate }}</mat-label>
    <input matInput formControlName="password" />
    <mat-error *ngIf="form.controls.password.hasError('required')">
      {{ 'validation.required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ 'repeat_password' | translate }}</mat-label>
    <input matInput formControlName="repeatPassword" />
    <mat-error *ngIf="form.controls.repeatPassword.hasError('required')">
      {{ 'validation.required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ 'share.domain' | translate }}</mat-label>
    <input matInput formControlName="domain" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ 'share.identifierKey' | translate }}</mat-label>
    <input matInput formControlName="identifierKey" />
  </mat-form-field>
</form>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog(false)">{{ 'close' | translate }}</button>
  <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="submitForm()">
    {{ 'save' | translate }}
  </button>
</div>
