<breadcrumb />
<mat-card class="p-16">
  <mat-card-content>
    <div class="d-flex justify-content-between">
      <mat-form-field class="search-field" appearance="outline">
        <input
          matInput
          [placeholder]="'search' | translate"
          [value]="searchTerm$ | async"
          (input)="updateSearch($event)"
        />
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="add()">
        {{ 'add' | translate }}
      </button>
    </div>

    <mtx-grid
      [data]="(filteredRow$ | async)!"
      [columns]="columns"
      [length]="(count$ | async)!"
      [loading]="fetchLoading$ | async"
      [pageOnFront]="false"
      [rowHover]="true"
    />
  </mat-card-content>
</mat-card>

<ng-template #booleanTemp let-rowData="rowData" let-col="colDef">
  @if (rowData[col.field]) {
    <mat-icon class="text-green-50">check_circle</mat-icon>
  } @else {
    <mat-icon class="text-red-50">cancel</mat-icon>
  }
</ng-template>
