<!-- <lib-card [headerTitle]="_title" headerIcon="icon-Key-00" class="root-container shadow-none">
  <div class="table-container">
    <div *ngFor="let error of _allPossibleErrors | keyvalue">
      <lib-error-alert [errorKey]="error.key" [locationDisplay]="error.value"></lib-error-alert>
    </div>
    <lib-material-data-table-client-side
      [columns]="_columns"
      [actionList]="_operationList"
      [gridOption]="_gridOption"
      [dataSource]="_passwordList"
      [loadingIndicator]="_isLoading"
      [paginationLabels]="paginationLabels"
      (refreshData)="onRefreshData()">
    </lib-material-data-table-client-side>
  </div>
</lib-card>
<ng-template #addEditModal>
  <app-password-add-edit [selectedPassword]="_selectedPasswordModel" [isPersonalPage]="_isPersonalPage">
  </app-password-add-edit>
</ng-template> -->
