<div class="root-container">
  <span>{{ 'remoteConnectivityError1' | translate }}</span>
  <ng-container *ngIf="isCertificateError">
    <span>{{ 'remoteConnectivityError2' | translate }}</span>
    <span>{{ 'remoteConnectivityError3' | translate }}</span>
  </ng-container>
  <ng-container *ngIf="!isCertificateError">
    <span>{{ 'remoteConnectivityError4' | translate }}</span>
    <span>{{ 'remoteConnectivityError5' | translate }}</span>
  </ng-container>

  <!-- <lib-key-value-list class="key-value-container" [listOfKeys]="_certKeys" [row]="certificateInfo"></lib-key-value-list> -->
</div>
<ng-template #certificateValueTemplate let-value="value" let-key="key">
  <ng-container [ngSwitch]="!!(previousCertificateInfo?.[key] && certificateInfo?.[key])">
    <div
      class="certificate-value-container"
      *ngSwitchCase="false"
      [matTooltip]="'PreviousValueIsNotIdentified' | translate"
      container="body"
    >
      <span class="value">{{ value }}</span>
    </div>
    <ng-container *ngSwitchCase="true">
      <div
        class="certificate-value-container both-have-values"
        [matTooltip]="'CurrentValueIsEqualToPreviousValue' | translate"
        container="body"
        *ngIf="previousCertificateInfo?.[key] === certificateInfo?.[key]"
      >
        <span class="value text-green">{{ value }}</span>
      </div>
      <div
        class="certificate-value-container both-have-values"
        matTooltip="{{ 'PreviousValueIs' | translate }} {{ previousCertificateInfo?.[key] }}, {{
          'whichIsDifferentFromCurrentValue' | translate
        }}"
        container="body"
        *ngIf="previousCertificateInfo?.[key] !== certificateInfo?.[key]"
      >
        <span class="value text-red">{{ value }}</span>
      </div>
    </ng-container>
  </ng-container>
</ng-template>
