/** Custom Material styles */

mat-card {
  margin-bottom: var(--gutter);
}

button[navAccordionToggle] {
  font-family: iranyekan, sans-serif;
}

li {
  font-family: iranyekan, sans-serif;
}

mat-card-header + mat-card-content {
  margin-top: var(--gutter);
}

html[dir='rtl'] mat-snack-bar-container {
  direction: rtl;
}

.form-field-full {
  .mat-mdc-form-field {
    width: 100%;
  }
}
