@if (fetchLoading$ | async) {
  <mat-progress-bar mode="indeterminate" />
}
<form class="d-flex flex-col p-32" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field appearance="outline" class="w-50">
      <mat-label>{{ 'pages.setting.session.web_timeout' | translate }}</mat-label>
      <input matInput type="number" formControlName="webTimeoutMinutes" />
      <mat-error *ngIf="form.controls.webTimeoutMinutes.hasError('required')">
        {{ 'validation.required' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-icon [matTooltip]="'pages.setting.session.web_timeout_help' | translate">
      help_outline
    </mat-icon>
  </div>
  <div>
    <mat-form-field appearance="outline" class="w-50">
      <mat-label>{{ 'pages.setting.session.connection_timeout' | translate }}</mat-label>
      <input matInput type="number" formControlName="connectionTimeoutMinutes" />
      <mat-error *ngIf="form.controls.connectionTimeoutMinutes.hasError('required')">
        {{ 'validation.required' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-icon [matTooltip]="'pages.setting.session.connection_timeout_help' | translate">
      help_outline
    </mat-icon>
  </div>
  <div class="d-flex gap-12 align-items-center">
    <mat-checkbox formControlName="connectionTimeoutEnabled">
      {{ 'pages.setting.session.enable_connection_timeout' | translate }}
    </mat-checkbox>
    <mat-icon
      color="warning"
      [matTooltip]="'pages.setting.session.enable_connection_timeout_help' | translate"
    >
      help_outline
    </mat-icon>
  </div>

  <button mat-fab extended class="align-self-end" type="submit" [disabled]="submitLoading | async">
    {{ 'submit' | translate }}
    @if (submitLoading | async) {
      <mat-icon>
        <mat-spinner color="white" diameter="20" />
      </mat-icon>
    }
  </button>
</form>
