@if (fetchLoading$ | async) {
  <mat-progress-bar mode="indeterminate" />
}
<form class="tls-setting-form" [formGroup]="tlsForm" (ngSubmit)="submit()">
  <mat-checkbox formControlName="rejectSelfSignedCert">
    {{ 'pages.setting.certificate.rejec_self_signed_cert' | translate }}
  </mat-checkbox>
  <mat-hint align="start">
    <strong>{{ 'pages.setting.certificate.rejec_self_signed_cert_help' | translate }}</strong>
  </mat-hint>
  <mat-checkbox formControlName="tlsParameterHardening">
    {{ 'pages.setting.certificate.strengthen_tLs_settings' | translate }}
  </mat-checkbox>
  <mat-hint align="start">
    <strong>{{ 'pages.setting.certificate.strengthen_tLs_settings_help' | translate }}</strong>
  </mat-hint>
  <mat-form-field [floatLabel]="'always'">
    <mat-label>{{ 'pages.setting.certificate.crl_update_interval_days' | translate }}</mat-label>
    <input matInput type="number" formControlName="crlUpdateIntervalDays" />
    <mat-hint align="start">
      <strong>{{ 'pages.setting.certificate.crl_update_interval_days_help' | translate }}</strong>
    </mat-hint>
  </mat-form-field>

  <button
    mat-fab
    extended
    class="align-self-start"
    type="submit"
    [disabled]="submitLoading | async"
  >
    {{ 'submit' | translate }}
    @if (submitLoading | async) {
      <mat-icon>
        <mat-spinner color="white" diameter="20" />
      </mat-icon>
    }
  </button>
</form>
