@if (fetchLoading$ | async) {
  <mat-progress-bar mode="indeterminate" />
}
<form class="tls-setting-form" [formGroup]="tlsForm" (ngSubmit)="submit()">
  <div class="d-flex gap-12 align-items-center">
    <mat-checkbox formControlName="rejectSelfSignedCert">
      {{ 'pages.setting.certificate.reject_self_signed_cert' | translate }}
    </mat-checkbox>
    <mat-icon [matTooltip]="'pages.setting.certificate.reject_self_signed_cert_help' | translate">
      help_outline
    </mat-icon>
  </div>
  <div class="d-flex gap-12 align-items-center">
    <mat-checkbox formControlName="tlsParameterHardening">
      {{ 'pages.setting.certificate.strengthen_tLs_settings' | translate }}
    </mat-checkbox>
    <mat-icon
      color="warning"
      [matTooltip]="'pages.setting.certificate.strengthen_tLs_settings_help' | translate"
    >
      help_outline
    </mat-icon>
  </div>
  <div class="d-flex gap-12 align-items-center">
    <mat-form-field [floatLabel]="'always'" class="full-width">
      <mat-label>{{ 'pages.setting.certificate.crl_update_interval_days' | translate }}</mat-label>
      <input matInput type="number" formControlName="crlUpdateIntervalDays" />
    </mat-form-field>
    <mat-icon [matTooltip]="'pages.setting.certificate.crl_update_interval_days_help' | translate">
      help_outline
    </mat-icon>
  </div>
  <button
    mat-fab
    extended
    class="align-self-start"
    type="submit"
    [disabled]="submitLoading | async"
  >
    {{ 'submit' | translate }}
    @if (submitLoading | async) {
      <mat-icon>
        <mat-spinner color="white" diameter="20" />
      </mat-icon>
    }
  </button>
</form>
